<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Script Testing</title>

        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    </head>
<body class="text-center">
<br><br>
<div class="container">
<div class="jumbotron">
<h1 class="display-4">Instagram Scrapper</h1>
            <form class="text-center" action="/hashtag" method="POST">
                <div class="form-group">
                  <label for="hashtag">Enter Hashtag to Extract Data!</label>
                  <input type="text" class="form-control" id="hashtag" name="hashtag" placeholder="Enter Hashtag">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
          </form>
       </div>
    </div>
  </div>
</body>
</html>